*{
    margin: 0;
    padding: 0;
   
}


body {
    font-size: 18px;
    font-family: Helvetics Neue,Arial;
    
}


.clearfix:after{
    content:"";
    display: table;
    clear: both;
    
}
h1,h2 { 
    color: green;
    font-size: 40px;
    font-family: Helvetics Neue,Arial;
    margin-bottom: 20px;
}
p {
    text-align: center;
    
    
}
.main {
    text-align: center;
    color: green;
    margin-bottom: 20px;
    
}
.next {
    text-align:justify;
    color: green;
    
}



.blogpost {
    background-color: #00ff00;
    width: 75%;
    float:left;
   
}

.othrrpost {
            background-color: #00ff00;
    
    width: 25%;
    margin-bottom: 20px;
    float: left;
    padding-left: 20px;

}

.author {
      background-color: #0000ff;
}

.container {
    margin: 20px auto 0 auto;
}
